<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Marvel Card Masters</title>
    <link rel="stylesheet" href="/game.css" />
  </head>

  <body>
    <div id="loading-container">
        <h1>Game test</h1>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/game.js"></script>
        <div id="waiting_for_opponent" style="display: none">WAITING</div>
        <div id="opponent_login" style="display: none">
        Your opponent: <span id="opponent"></span>
        </div>
        <div id="opponent_disconnected" style="display: none">
        Your opponent disconnected
        <a href="/">Return to menu</a>
        </div>
        <div id="err_second_window" style="display: none">
        ERROR You can play only one game
        </div>
    </div>

    <div id="game_board" style="display: none;">
        <div id="timer"></div>
        <div id="enemy-name"></div>
        <img id="enemy-portrait"></img>
        <div id="enemy-hp"></div>
        <div id="enemy-mana"></div>
        <div id="enemy-cards"></div>
        <div id="turn_nickname"></div>
        <button id="pass_btn" onclick="passOnClick()">Pass</button>
        <img src="../images/card-back.png" id="card-deck" alt="">
        <div id="my-mana"></div>
        <div id="cards"></div>
        <img id="my-portrait"></img>
        <div id="my-name"></div>
        <div id="my-hp"></div>
    </div>

    <div id="game_over" style="display: none;">
      <div class="game_over-container">
        <h1 id="game_over_message"></h1>
      </div>
    </div>
  </body>
</html>
