<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvel Card Masters - How To Play</title>
    <link rel="stylesheet" href="/howToPlay.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="wrapper">
      <a class="goBack" href="/"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          /></svg
      ></a>
      <div class="container">
        <h1>Game Rules</h1>

        <div class="rules">
          <div class="section">
            <h3>Objective:</h3>
            <p>
              The objective of the game is to reduce your opponent's base HP to
              zero while protecting your own base.
            </p>
          </div>
          <div class="section">
            <h3>Setup:</h3>
            <p>
              Each player starts with 6 cards in their hand. Each card has three
              values: mana cost (MC), card name, and attack (ATK). The mana cost
              represents the amount of mana required to play the card, and the
              attack value represents the amount of HP the card deals to the
              opponent's base (<i
                >or gains for your own base if it's a negative value</i
              >). Both players start with a base HP value, typically set to a
              certain number, e.g., 20 HP.
            </p>
          </div>
          <div class="section">
            <h3>Gameplay:</h3>
            <p>
              The game is played in turns, with each player taking one turn at a
              time. At the beginning of your turn, increase your maximum mana by
              1, which will be used to play cards. During your turn, you can do
              the following actions:
            </p>
            <ul>
              <li>
                Play cards from your hand by paying their mana cost from your
                current mana pool.
                <i
                  >You can play as many cards as you can afford with your
                  available mana</i
                >.
              </li>
              <li>
                You can also choose not to attack and save your cards for later
                turns.
              </li>
            </ul>
            <p>
              After taking your actions, end your turn with button <b>PASS</b>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
