<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <div id="con">
        <h1>Main</h1>
        <img id="user_avatar" alt="img">
        <h2>Login: <span id="login"></span></h2>
        <a href="/game">PLAY</a>
        <form action="/update" method="POST" enctype="multipart/form-data">
            <label for="image">Upload avatar</label>
            <input type="file" name="image" />
            <button type="submit">Upload</button>
        </form>
    </div>
    <script src="/main.js"></script>
</body>

</html>