<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
    <link rel="stylesheet" href="/autorization.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">

      <div class="background"></div>
      <div class="main_images">
        <img class="ironman" src="/additional_icons/ironman.webp" alt="">
        <img class="venom" src="/additional_icons/venom.webp" alt="">
      </div>
      <div class="login-box">
        <div class="login-container">

        <form name="form" class="form">
          <h1>Sign up</h1>
          <div class="form-section">
            <input
              class="input"
              required
              type="text"
              name="login"
              placeholder="Login"
              size="20"
            />
          </div>
          <div class="form-section">
            <input
              class="input"
              required
              type="password"
              name="password"
              placeholder="Password"
              size="20"
            />
          </div>
          <div class="form-section">
            <input
              class="input"
              required
              type="password"
              name="confPass"
              placeholder="Confirm password"
              size="20"
            />
          </div>
          <input
            id="regButton"
            type="button"
            value="Sign Up"
            onclick="sendData()"
            class="button"
          />
          <p id="error"></p>
          <span class="reminder">Already have an account? <a href="/login">Login</a></span>
        </form>
      </div>
    </div>
    <script>
      function sendData() {
        const login = document.form.login.value;
        const password = document.form.password.value;
        const confPass = document.form.confPass.value;

        if (password === confPass) {
          const body = JSON.stringify({
            login: login,
            password: password,
          });

          const xhr = new XMLHttpRequest();
          xhr.open("POST", "/registration");
          xhr.setRequestHeader(
            "Content-Type",
            "application/json; charset=UTF-8"
          );

          xhr.onload = () => {
            if (
              xhr.readyState == 4 &&
              (xhr.status == 201 || xhr.status == 200)
            ) {
              response = JSON.parse(xhr.response);
              console.log(response);
              if (response.status === "OK") {
                document.location.href = "/";
              } else {
                document.getElementById("error").innerHTML = response.message;
              }
            } else {
              console.log(`Error: ${xhr.status}`);
            }
          };
          xhr.send(body);
        } else {
          document.getElementById("error").innerHTML = "Passwords do not match";
        }
      }
    </script>
  </body>
</html>
