#cards, #enemy-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#cards > img, #enemy-cards > img, #card-deck {
    width: 180px;
}

#enemy-portrait, #my-portrait {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}