body {
  font-family: Marvel, "Times New Roman", Times, serif;
  color: white;
  margin: 0;
  padding: 0;

  overflow: auto;
  background: linear-gradient(315deg, #682831 0%, #2e3c5f 100%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

h3 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

p,
li {
  color: rgb(228, 228, 228);
  line-height: 1.5rem;
  font-size: 18px;
  margin-top: 10px;
}

.wrapper {
  backdrop-filter: blur(10px);
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.rules {
  width: 50%;
  text-align: left;
}

.goBack {
  text-decoration: none;
  position: absolute;
  top: 25px;
  left: 15px;
  color: white;
  transition: all 0.15s ease-in-out;
}

.goBack:hover {
  color: #b8b8b8;
}

.goBack > svg {
  width: 30px;
  height: 30px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 5%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
